<p style="color: green"><%= notice %></p>

<% content_for :title, "Profiles" %>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  <% end %>
</div>


<div class="bg-gray-900 text-white min-h-screen p-8">
  <div class="mt-8">
    <%= link_to "New profile", new_profile_path, class: "inline-block rounded-md bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-500" %>
  </div>
</div>


<%= link_to "New profile", new_profile_path %>


<div class="bg-gray-900 text-white min-h-screen p-8">
  

  <div class="mt-8">
    <a href="#" class="inline-block rounded-md bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-500">New profile</a>
  </div>
</div>

<div class = “bg-gray-300 text-center font-bold italic underline">
  This sentence has good design, has background color and center-aligned
</div>


